<p style="color: green"><%= notice %></p>

<%= render @grant %>

<div>
  <%= link_to "Edit this grant", edit_grant_path(@grant) %> |
  <%= link_to "Back to grants", grants_path %>

  <%= button_to "Destroy this grant", @grant, method: :delete %>
</div>
