<%= turbo_frame_tag Organization.new do %>
  <div class="row mb-2 align-items-center">
    <div class="col-sm-7" data-controller="osearch" 
          data-osearch-organization-outlet="#organization-controller"
          data-osearch-create-value="<%= create %>">
          <%= form_tag foundation_organizations_filter_path(@foundation), method: :get, data: { turbo_frame: "organizations_list" } do |f| %>
            <div class="input-group">
              <%= text_field_tag "query", nil, 
                  placeholder: "Search ...", class: "form-control form-control-sm",
                  "data-organization-target": "query" %>
              <%= submit_tag "Filter", class: "btn btn-sm btn-outline-secondary", "data-action": "click->organization#filter" %>
            </div>
          <% end %>

    </div>
    <div class="col-sm-2 offset-sm-3">
      <%= link_to new_foundation_organization_path(@foundation), class: "btn btn-sm btn-outline-secondary" do %>
        <i class="bi bi-plus-circle pe-1"></i>New
      <% end %>
    </div>
  </div>
<% end %>
