<!DOCTYPE html>
<html>
  <head>
    <title>Bookeeper: <%= yield(:title) %></title>
    <%# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= Current.user.present? ? "primary-main" : "secondary-main" %>" >
    <% if Current.user.present? %>
      <div class="container-fluid ps-0">
        <div class="row">
          <%= render "layouts/sidebar" %>
          <div class="col ps-0">
            <%= render "layouts/navbar" %>

            <div class="container mx-2 pt-3">
              <%= render 'layouts/messages' %>             
                <%= yield %>
            </div>

          </div>
        </div>
      </div>
    <% else %>
      <div class="container-fluid pt-0 mt-0">
        <div class="row justify-content-center">
          
          <div class="d-flex align-items-center col-md-8 col-lg-6 col-xl-5 col-xxl-4 vh-100">
            <%= yield %>
          </div>
            
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>

